.ProceduresMain-container {
  margin: 0;
  height: 100%;
  width: 100%;
  background: var(--main-color-background);
  color: var(--main-foreground-color);
  overflow: hidden;
}

.ProceduresMain-ProceduresList {
  height: 100%;
}

.ProceduresMain-ProceduresDetails {
  height: 50%;
}

.ProceduresMain-ProceduresSteps {
  height: 50%;
}

.ProceduresMain-ProceduresConditions {
  height: 100vh;
}
