.ProceduresMain-container {
  margin: 0;
  height: 100%;
  width: 100%;
  background: var(--main-color-background);
  color: var(--main-foreground-color);
  overflow: hidden;
}

.ProceduresMain-ProceduresList {
  height: 100%;
}