.ProceduresMain-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--main-color-background);
  color: var(--main-foreground-color);
  overflow: hidden;
}

.ProceduresMain-ProceduresList {
  padding-right: 0 !important;
  height: 100%;
}

.ProceduresMain-ProceduresDetails {
  height: 50%;
}

.ProceduresMain-ProceduresSteps {
  height: 50%;
}

.ProceduresMain-ProceduresConditions {
  height: 100vh;
  padding-left: 0 !important;
  border-left: 7px solid rgba(106, 115, 197, 0.333) !important;
}
