.ComponentTitle-header {
  height: 50px;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;  
  vertical-align: middle;
  background: #000000;
  color: #fbff00;
  border-radius: 0px;
}
.ComponentTitle-header-text {
  display: inline-block;
  padding: 10px;
}

img.ui.image.ComponentTitle-header-image {
  display: inline-block;
  vertical-align: middle;
}