.ProceduresConditions-container {
  //margin-right: 20px;
  .form.ui.form input[type="text"] {
    color: var(--main-foreground-color) !important;
    height: 23px;
  }

  .ProceduresConditions-Form {
    margin-top: 10px;
    padding-left: 10px;
  }
  .ProceduresConditions-header {
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    vertical-align: middle;
    background: #000000;
    color: var(--main-header-color);
    border-radius: 0px;
  }
}

.form-group {
  margin-bottom: 0.3rem;
}

#form {
  color: var(--main-foreground-color);
}

.recurringControl-container {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.recurringControl-buttons {
  margin-left: 55px;
}

.recurringControl-button {
  background-color: #312a2a;
}

.recurringControl-checkBox {
  margin-left: 55px;
}
