.ProceduresConditions-container {
  margin-right: 20px;
  .form.ui.form input[type="text"] {
    color:var(--main-foreground-color) !important;
    height: 23px;
  }

  .ProceduresConditions-Form {
    margin-top: 10px;
  }
  .ProceduresConditions-header {
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    vertical-align: middle;
    background: #000000;
    color: var(--main-header-color);
    border-radius: 0px;
  }
}

.form-group {
  margin-bottom: 0.3rem;
}

#form {
  color: var(--main-foreground-color);
}
