.ProceduresFrom-container {
  .ProceduresFrom-Form {
    margin-top: 10px;
  }

  .ProceduresFrom-header {
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    vertical-align: middle;
    background: #000000;
    color: var(--main-header-color);
    border-radius: 0px;
  }
}
