.ProceduresEditor-container {
  background: var(--main-color-background);
  color: var(--main-foreground-color);
  .ui.grid {
    margin-left: 20px;
    color: var(--main-foreground-color);
  }
}

.modal-content {
  height: 900px;
}