@import "../../../shared/css/main.scss";

.ProceduresEditor-container {
  background: #283758;
  color: #fff;
  .ui.grid {
    margin-left: 20px;
    color: #fff;
  }
}

.modal-content {
  background: #283758;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 3px #888888;
  height: auto;
  width: 900px;
}

.ProceduresEditor-steps-grid {
}
