@import "../../../shared/css/main.scss";

.ProceduresEditor-container {
  background: #283758;
  color: #fff;
  .ui.grid {
    margin-left: 20px;
    color: #fff;
  }
}

.modal-content {
  background: #283758;
  height: auto;
  width: auto;
}
