
.theme-generic-typography h1 {
  font-size: 34px;
  margin-top: 0;
}

.react-confirm-alert-button-group > button {
  width: 100px;
  //background: red;
}

.react-confirm-alert-button-group {
  align-items: center;
}
