.ProceduresList-container {
  .ui.table {
    margin: 0;

    &.single.line {
      .ProceduresList {
        &-table-header tr th {
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
          align-items: center;
          letter-spacing: 0.15em;
          background: #000000;
          color: #ffffff;
          border-radius: 0px;
        }

        &-header-rows {
          height: 22px;
          background: #000000 !important;
          color: #ffffff !important;
          border: none;
        }

        &-row-item {
          height: 22px !important;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          align-items: center;
          background: #110000 !important;
          color: #fff !important;
          cursor: pointer;
        }

        &-row-item.selected {
          background-color: rgb(87, 206, 93) !important;
          transition: background-color 400ms ease-in-out;
        }
      }
    }
  }
}
