.DaysPattern-container {
  display: flex;
  flex-wrap: wrap;
}

.toppings-list {
  list-style: none;
  margin: 0px;
  flex: 0 1 calc(20% - 8px);
  padding: 3px;
}

.toppings-list li {
  margin-bottom: 0.5rem;
}

.toppings-list-item {
  flex: 1 0;
  justify-content: space-between;
}

.toppings-list-item label {
  vertical-align: text-top;
  margin-left: 0.5rem;
}
